$bg: #f3f8fa;
$white: #fff;
$black: #282936;


.article{
  &__titre{
    font-size: 2rem;
    margin-bottom: 0.5rem;

    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
  }
  &__image{
    -webkit-mask: url('http://iamvdo.me/conf/2012/kiwiparty/img/masque2.png');
    mask: url('#mask');
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    transition: -webkit-mask-size .3s;
    border-radius: 20%;
  }
  &__cadre{

  }

  &__metaDroite{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: space-between;
    &__voting{
      order: -1;
      margin-bottom: 10px;
      position: absolute;
      top: -170px;
      right: 140px;
    }
    &__info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__createdAt{

      }
      &__lectureTime{
      font-size: 1rem!important;
      padding-bottom:0!important;
      }


    }


  }
  &__text{
    font-size: 16px;
    text-align: justify;
    cursor: default;

  }

  &__ulCategories{
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

    li{

      padding: 6px 0;
      font-size: 1rem;
      line-height: 21px;
      width: 20%;
      margin-bottom: 5px;
      position: relative;
    }

  }
  &__metaBas{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    &__createdAt{

    }
    &__author{
      font-size: 1.5rem;
      font-weight: bold;

    }
  }
  &__buttonBackToArticle{
    width: 100%;
    .button{
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      &.learn-more {
       // width: 2rem;
        width: 100%;
        height: auto;
        .circle {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: relative;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $black;
          border-radius: 1.625rem;
          .icon {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: $white;
            &.arrow {
              @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: '';
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .button-text {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.75rem 0;
          color: $black;
          font-weight: 700;
          //line-height: 1.6;
          text-align: center;
          text-transform: uppercase;
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              background: $white;
              transform: translate(1rem, 0);
            }
          }
        }
        .button-text {
          color: $white;
        }
      }
    }

  }
}


/* Article modified */

.overlay_black{
  background-image: linear-gradient(to top, rgba(245, 246, 252, 0.52), rgb(18, 50, 71));
  position: absolute;
  background-size: cover;
  left: 0;
  bottom: 0;
  z-index: 1;
  right: 0;
  top: 0;
}

/* Header */
.header {
  margin: 0 auto;
  min-height: 100vh;

}

.bg-img {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;


}

.bg-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  min-width: 100%;
  min-height: 100%;

}

.title {
  z-index: 1000;
  margin: 0 auto;
  padding: 0 1.25em;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.title h1 {
  padding: 0 0 0.2em;
  color: #fff;
  font-weight: 800;
  font-size: 3.25em;
  margin: 0 auto;
}

.title p {
  color: #fff;
  padding: 0 0 0.6em;
  font-weight: 300;
  font-size: 0.85em;
  margin: 0 auto;
}

.title h1,
.title p.subline {
  line-height: 1;
}

.title p.subline {
  font-size: 1.75em;
}

/* Trigger Button */
button.trigger {
  position: fixed;
  bottom: 40px;
  left: 50%;
  z-index: 5000;
  display: block;
  margin-left: -0.5em;
  padding: 0;
  width: 1em;
  height: 1em;
  border: none;
  background: transparent;
  color: transparent;
  font-size: 2em;
  cursor: pointer;
}

.container:not(.notrans) button.trigger {
  -webkit-transition: opacity 0.3s 0.5s;
  transition: opacity 0.3s 0.5s;
}

.container.modify:not(.notrans) button.trigger {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

button.trigger::before {
  position: absolute;
  bottom: 100%;
  left: -100%;
  padding: 0.8em;
  width: 300%;
  color: #fff;
  content: attr(data-info);
  font-size: 0.35em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

button.trigger:focus {
  outline: none;
}

button.trigger span {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

button.trigger span::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  content: "\e097";
  text-transform: none;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  font-family: 'icomoon';
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Conent */
.content {
  margin: 0 auto;
  padding: 0 0 3em;
  text-align: justify;
}

.content > div:not(.title) {
  margin: -80px auto 0;
  max-width: 900px;
  padding: 0 1.25em;
}

.content > div:not(.title) p {
  margin: 0 auto 1.5em auto;
}

.content > div:not(.title) p:first-child {
  font-size: 1.35em;
}

.content h3 {
  margin: 0;
  font-size: 1.4em;
}

.content blockquote {
  padding: 0.25em;
  font-style: italic;
  font-size: 1.65em;
  font-family: 'Lora', serif;
  line-height: 1.4;
}

.content blockquote::before {
  content: '\201C';
}

.content blockquote::after {
  content: '\201D';
}

/***** Individual effects *****/


/* -------------------------- */
/* Faded gradient */
/* -------------------------- */

.intro-effect-fadeout:not(.notrans) .bg-img {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
}

.intro-effect-fadeout:not(.notrans) .bg-img::after {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.intro-effect-fadeout:not(.notrans) .header h1 {
  -webkit-transition-property: color;
  transition-property: color;
}

.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}

.intro-effect-fadeout:not(.notrans) .bg-img,
.intro-effect-fadeout:not(.notrans) .bg-img::after,
.intro-effect-fadeout:not(.notrans) .header h1,
.intro-effect-fadeout:not(.notrans) .header p,
.intro-effect-fadeout:not(.notrans) .content > div {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.intro-effect-fadeout .header {
  overflow: hidden;

}

.intro-effect-fadeout.modify .bg-img {
  -webkit-transform: translateY(-25%);
  transform: translateY(-25%);

}

.intro-effect-fadeout .bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 101%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.intro-effect-fadeout.modify .bg-img::after {
  opacity: 1;
}

.intro-effect-fadeout .title {
  text-align: center;
  max-width: 900px;
}

.intro-effect-fadeout.modify .header h1,
.intro-effect-fadeout .header p {
  color: #514753;
}

.intro-effect-fadeout .header p {
  opacity: 0;
}

.intro-effect-fadeout .header p:nth-child(2) {
  -webkit-transform: translateX(150px);
  transform: translateX(150px);
}

.intro-effect-fadeout .header p:nth-child(3) {
  -webkit-transform: translateX(-150px);
  transform: translateX(-150px);
}

.intro-effect-fadeout.modify .header p:nth-child(2),
.intro-effect-fadeout.modify .header p:nth-child(3) {
  opacity: 1;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.intro-effect-fadeout .content {
  z-index: 1000;
  position: relative;
}

.intro-effect-fadeout .content > div {
  opacity: 0;
  -webkit-transform: translateY(350px);
  transform: translateY(350px);
}

.intro-effect-fadeout.modify .content > div {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}




/* Media Queries */
@media screen and (max-width: 47em) {
  .title, .content {
    font-size: 70%;
  }

}

@media screen and (max-width: 27em) {

  .title, .content {
    font-size: 50%;
  }

  button.trigger::before {
    display: none;
  }
}
