$bg: #f3f8fa;
$white: #fff;
$black: #282936;


.article{
  &__titre{
<<<<<<< HEAD
    font-size: 2rem;
    margin-bottom: 0.5rem;
=======
    font-size: 4rem;
    margin-bottom:2rem;
>>>>>>> 420fd0ddd0ad11a1874e9667fcff4d1c9b0cec22
    margin-top: 2rem;
    text-align: center;
    font-weight: bold;
  }
  &__image{
    border-radius: 20%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  }
  &__cadre{

  }

  &__metaDroite{

    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 20px;
    justify-content: space-between;

    &__info{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &__createdAt{

      }
      &__lectureTime{
      font-size: 1rem!important;
      padding-bottom:0!important;
      }
      &__voting{
        order: -1;
        margin-bottom: 10px;

      }

    }


  }
  &__text{
    font-size: 16px;
    text-align: justify;
    cursor: default;

  }

  &__ulCategories{
    list-style: none;
    padding: 0;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;

    li{

      padding: 6px 0;
      font-size: 1rem;
      line-height: 21px;
      width: 20%;
      margin-bottom: 5px;
      position: relative;
    }

  }
  &__metaBas{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    &__createdAt{

    }
    &__author{
      font-size: 1.5rem;
      font-weight: bold;

    }
  }
  &__buttonBackToArticle{
    width: 100%;
    .button{
      position: relative;
      display: inline-block;
      cursor: pointer;
      outline: none;
      border: 0;
      vertical-align: middle;
      text-decoration: none;
      background: transparent;
      padding: 0;
      font-size: inherit;
      font-family: inherit;
      &.learn-more {
       // width: 2rem;
        width: 100%;
        height: auto;
        .circle {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: relative;
          margin: 0;
          width: 3rem;
          height: 3rem;
          background: $black;
          border-radius: 1.625rem;
          .icon {
            @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto;
            background: $white;
            &.arrow {
              @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
              left: 0.625rem;
              width: 1.125rem;
              height: 0.125rem;
              background: none;
              &::before {
                position: absolute;
                content: '';
                top: -0.25rem;
                right: 0.0625rem;
                width: 0.625rem;
                height: 0.625rem;
                border-top: 0.125rem solid #fff;
                border-right: 0.125rem solid #fff;
                transform: rotate(45deg);
              }
            }
          }
        }
        .button-text {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 0.75rem 0;
          color: $black;
          font-weight: 700;
          //line-height: 1.6;
          text-align: center;
          text-transform: uppercase;
        }
      }
      &:hover {
        .circle {
          width: 100%;
          .icon {
            &.arrow {
              background: $white;
              transform: translate(1rem, 0);
            }
          }
        }
        .button-text {
          color: $white;
        }
      }
    }

  }
}
