{% extends 'base.html.twig' %}

{% block title %}Administrer les biens{% endblock %}

{% block style_custom %}
    <style>

    </style>
{% endblock %}

{% block body %}
    <div class="mt-md-5 mt-sm-2 mb-md-5 mb-sm-2 text-center">
        <h4>Creation d'un bien</h4>
    </div>

    {{   include('admin/property/_form.html.twig',{form: form})  }}




{% endblock %}
