//Background Colors
$primary-color:#005293;
$secondary-color:#202020;
$tertiary-color:#202020;


$darkblue:#005293;
$lightblue:#C5DAEB;
$white:#f5f5f5;
$green:#1ABC9C;


$primary-radiant: linear-gradient(90deg,#ff4b2b,#ff416c);
$primary-orange:#ff4b2b;
$primary-rose:#ff416c;
//Fonts Colors

//Sizes
body{
  font-size: 16px;
}
//MediaQueries


//Comments section variables
$comment-font:Darker Grotesque;
$primary-comment-color:#005293;
$secondary-comment-color:#202020;
$tertiary-comment-color:#787878;
$background-comment-color: #1b212d;
$profile-picture-size-comment:45px;

//404 page
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
//variables
$purple: #28254C;
$l-purple: #332F63;
$t-purple: #8C8AA7;
$pink: #FF5E65;
$white: #fff;
