$dark-gray: #8a8a8a;
$alert-color:#cc4b37;
$white:white;

.msalsas-voting-widget-wrapper {
  all: unset;
  order: 1;
  margin-left: auto;


  & .msalsas-voting-widget {
    all: unset;


    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;

    & .msalsas-voting-shakes {
      all: unset;

      font-weight: bold;
      display: flex;
      align-items: center;
      & i.fa{

        &.--liked{
        color: red;
        }
      }
      p {
        all: unset;
      }
    }

    & .msalsas-voting-shake-it {
      all: unset;
      cursor: pointer;
      border: 2px solid $dark-gray;
      background-color: transparent;
      text-decoration: none;
      padding: .5rem;
      position: relative;
      vertical-align: middle;
      text-align: center;
      display: inline-block;
      border-radius: 3rem;
      color: $dark-gray;
      transition: all ease 0.4s;

      &.--liked {
        background-color: $alert-color;
        border-color: $alert-color;
        color: $white;
        cursor: default;

        &:hover {
          background-color: $alert-color;
          color: $white;
        }
      }

      a {
        all: unset;
        border: black;


      }

      span {
        all: unset;
      }

      &:hover {
        border-color: $alert-color;
        background-color: transparent;
        color: $alert-color;

      }

      & .msalsas-voting-clicks {
        all: unset;
      }
    }
  }
}





