//Article.scss
@mixin arrow-button($color, $background, $shadow, $font-size, $width, $height, $direction) {
  background: none;
  border: 0;
  font-size: $font-size;
  line-height: $height;
  position: relative;
  width: $width;
  height: $height;

  @if $direction == "up" {
    transform: rotate(-90deg);
  }  @else if $direction == "down" {
    transform: rotate(90deg);
  }

  a {
    color: $color;
    text-decoration: none;
    position: relative;
    z-index: 10;
  }

  &::before,
  &::after {
    background: $background;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: $height/2;
  }


  &::before {
    box-shadow:
            -1px 1px 0 $shadow,
            -2px 2px 0 $shadow,
            -3px 3px 0 $shadow,
            -4px 4px 0 $shadow;
    transform: skew(45deg);
    @if $direction == "left" { bottom: 0; z-index: 1 }
    @else { top: 0; }
  }

  &::after {
    box-shadow: 1px 1px 0 $shadow,
    2px 2px 0 $shadow,
    3px 3px 0 $shadow,
    4px 4px 0 $shadow;
    transform: skew(-45deg);
    @if $direction == "left" { top: 0;}
    @else { bottom: 0; }
  }

  &:hover::before,
  &:hover::after {
    background: lighten($background,15%);
  }

  &:focus {
    &::before,
    &::after {
      background: lighten($background,15%);
    }
    outline: 0;
  }
}


//Article.scss
@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

//CardArticle

@mixin background-cover(){
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin border-radius( $radius: 3px ){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin border-radius-specific( $tl-radius: 3px, $tr-radius: 3px, $bl-radius: 3px, $br-radius: 3px ){
  -webkit-border-radius: $arguments;
  -moz-border-radius: $arguments;
  border-radius: $arguments;
}

@mixin box-shadow( $h-shadow: 0px, $v-shadow: 1px, $blur: 2px, $spread: 0px, $color: fade($black, 15%) ){
  -webkit-box-shadow: $arguments;
  -moz-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin inner-box-shadow( $h-shadow: 0px, $v-shadow: 1px, $blur: 2px, $spread: 0px, $color: fade($black, 15%)){
  -webkit-box-shadow: inset $arguments;
  -moz-box-shadow: inset $arguments;
  box-shadow: inset $arguments;
}

@mixin box-shadow-none(){
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

@mixin transitions( $property: all, $duration: 0.3s, $timing: linear, $delay: 0s ){
  -webkit-transition: $arguments;
  -moz-transition: $arguments;
  -ms-transition: $arguments;
  -o-transition: $arguments;
  transition: $arguments;
}

@mixin animation( $animation_name, $duration: 1s, $timing_function: ease ){
  -webkit-animation: $animation_name $duration $timing_function;
  -moz-animation: $animation_name $duration $timing_function;
  -o-animation: $animation_name $duration $timing_function;
  animation: $animation_name $duration $timing_function;
}

@mixin box-size( $property: border-box ){
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin font-smoothing(){
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
